/* PALHETA DE CORES:
verde escuro: #002905
midnight green: #004C54
Kelly green: #4cbb17
Cinza: #A5ACAF
Branco: #ffffff
preto: #000000

Coral (melancia): #f36565
Verde (melancia): #3edc85
azul (melancia): #84f2c9  */
< !DOCTYPE html><html><head><style>body {}

img {
    width: 30vw;
    display: inline-flex;
    vertical-align: middle;
}

a {
    color: #000000;
    font-size: 2rem;
    text-align: center;
}

h1 {
    color: ;
    font-size: 3rem;
    text-align: center;
}

p {
    color: #000000;
    font-size: 2rem;
    text-align: center;
}

body {
    background-image: url(../assets/fotos/melancia.png);
}

</style></head></body>