/* PALHETA DE CORES:
verde escuro: #002905
midnight green: #004C54
Kelly green: #4cbb17
Cinza: #A5ACAF
Branco: #ffffff
preto: #000000

Coral (melancia): #f36565
Verde (melancia): #3edc85
azul (melancia): #84f2c9  */
< !DOCTYPE html><html><head><style>body {}

header {
    margin: -1% 0% 2%;
    background-color: #A5ACAF;
    box-shadow: 0px 10px 50px 50px #A5ACAF;
}

h1 {
    color: #222222 font-size: 1rem;
    text-align: center;
}
}

main {
    background-color: #004C54;

    figure {
        text-align: center;
    }
}

footer {
    background-color: #A5ACAF;
    box-shadow: 0px -10px 50px 50px #A5ACAF;
}

h1 {
    color: #004C54;
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: #004C54;
    font-size: 2rem;
    text-align: center;
}

p {
    color: #b3b3b3;
    font-size: 1rem;
    text-align: center;
    margin: 1%;
}

#1 {
    position: relative;
    color: #000000;

}

#2 {
    position: relative;

}
}

table {
    font-size: 1.5rem;
    text-align: center;

}

ol {
    font-size: 1.5rem;
    color: #002905;
    list-style: cambodian inside;
}

ul {
    font-size: 1.5rem;
    color: #002905;
    list-style: thai inside;

}

#center {
    text-align: center;
}

img {
    text-align: center;
    justify-content: center;
}

a {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: #004C54;

}
}

</style></head></body>